{% extends "posts_div.html" %}
{% block title %}{{username}}'s Posts{% endblock%}
{% block header %}
    {{username}}'s posts
    {% if current_user.is_authenticated %}
    <div align="right">
        <a href="{{url_for('views.posts_draft', username=user.username)}}">
        <button type="button" class="btn btn-dark">My draft posts</button>
        </a>
    </div>
    {% endif %}
{% endblock %}
{% block footer %}
    <div align="right">
        <a href="/home">
            <button type="button" class="btn btn-dark">Home</button>
        </a>
    </div>
{% endblock %}