{% extends "posts_div.html" %}
{% block title %}{{username}}'s public posts{% endblock%}
{% block header %}
    {{username}}'s public posts
    {% if current_user.is_authenticated and (username == user.username or user.role == 'admin')%}
    <div align="right">
        <a href="{{url_for('views.posts_draft', username=username)}}">
        <button type="button" class="btn btn-dark">My draft posts</button>
        </a>
    </div>
    {% endif %}
{% endblock %}
{% block footer %}
    <div align="right">
        <a href="/home">
            <button type="button" class="btn btn-dark">Home</button>
        </a>
    </div>
{% endblock %}