{% extends "posts_div_draft.html" %}
{% block title %}{{username}}'s draft posts{% endblock%}
{% block header %}
    {{username}}'s draft posts
    <div align="right">
        <a href="{{url_for('views.posts', username=username)}}">
            <button type="button" class="btn btn-dark">Public posts</button>
        </a>
    </div>
{% endblock %}
{% block footer %}
    <div align="right">
        <a href="/home">
            <button type="button" class="btn btn-dark">Home</button>
        </a>
    </div>
{% endblock %}