{% extends "base.html" %}
{% block title %}User{% endblock %}
{% block content %}
<div class="row">
    <div class="col">
        <h1 class="mt-5">User's informations</h1>
    </div>
    <div class="col text-end">
        <a class="btn btn-dark mt-5" href="{{url_for('views.home')}}">Back</a>
    </div>
</div>
<div class="row">
    <div class="col lead">
        <strong>Username:</strong> {{user.username}}
    </div>
</div>
<div class="row">
    <div class="col lead">
        <strong>Email:</strong> {{user.email}}
    </div>
</div>
{% endblock %}