{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content%}
    <br />
    <br />
    <h1 align="center">Update Post</h1>
    
    <form method="POST">
      <br />
      <form action="{{url_for('views.update_post', post_id=post.id)}}" method="POST" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="text" class="form-label"><font size="5pt">Correct your text</font></label>
            <input type="text" name="text" class="form-control" id="inputText" value="{{post.text}}">
        </div>
        <div align="right">
            <button type="submit" class="btn btn-lg btn-dark">Update</button>
        </div>
      </form>
    </form>
    <br />
    <div align="right">
      <a href="/home"><button type="button" class="btn btn-lg btn-dark">Back</button></a>
    </div>
    
{% endblock %}